streamlit>=1.22.0
langchain>=0.1.0
langchain-core>=0.1.0
langchain-huggingface>=0.0.2
langchain-anthropic>=0.1.1
langchain-community>=0.0.13
anthropic>=0.9.0
huggingface-hub>=0.19.0
faiss-cpu>=1.7.4
pypdf>=3.15.1
python-dotenv>=1.0.0
mesa==2.4.0
pandas>=2.0.0
boto3>=1.28.0
plotly>=5.15.0
plotly-express>=0.4.1
together>=0.1.5
torch>=2.0.0
transformers>=4.30.0
requests>=2.28.0
sentence-transformers>=2.2.2
textstat>=0.7.3
scikit-learn>=1.0.2
rouge>=1.0.1
aiohttp>=3.8.4
pdfminer.six>=20221105
safetensors>=0.3.0
openai>=0.27.0